body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
	padding: 0 0 60px 0;
}

.header {
	width: 800px;
	margin: 0 auto;
}

	.header h1 {
		display: inline-block;
		margin: 0.5em 0;
	}

	.header .show-all-chk {
		float: right;
		margin: 1.6em 0;
	}

.main {
	width: 800px;
	margin: 0 auto;
}

.song-row {
	position: relative;
	padding-left: 3.5em; /*some room for origin badge*/
}

.song-row:hover {
	background: #eee;
}

.song-row.selected {
	background: #88aaff;
}

.song-row:hover .remove-btn,
.song-row:hover .rebook-btn {
	opacity: 1;
	pointer-events: auto;
}

.song-row .remove-btn,
.song-row .rebook-btn {
	position: absolute;
	right: 0;
	line-height: 28px;
	width: 28px;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
}

.song-row .remove-btn:hover {
	color: red;
}

.song-row .rebook-btn:hover {
	color: green;
}

.song-row .song-item {
	display: block;
	position: relative;
	margin-right: 28px; /*for close button*/
	padding: 0.2em;
	padding-right: 80px; /*for date label*/
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: black;
	text-decoration: none;
	cursor: default;
}

.song-name {
	text-overflow: ellipsis;
	overflow: hidden;
}

.add-date {
	position: absolute;
	right: 0;
	color: #888;
	font-size: 0.8em;
	padding: 0.2em;
	width: 80px;
	text-align: right;
}

.origin-badge {
	position: absolute;
	display: block;
	padding: 0.2em;
	left: 0;
	width: 3em;
	text-align: center;
	font-weight: normal;
	background: black;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
	.origin-badge:hover {
		text-decoration: none;
		color: #5AAEF7;
	}

.nct {
	background: #3070ad;
	color: #ffffff;
}

.zing {
	background: #348cc8; /* Old browsers */
	background: -moz-linear-gradient(left,  #348cc8 0%, #50912a 33%, #d9672b 66%, #d03168 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#348cc8), color-stop(33%,#50912a), color-stop(66%,#d9672b), color-stop(100%,#d03168)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #348cc8 0%,#50912a 33%,#d9672b 66%,#d03168 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #348cc8 0%,#50912a 33%,#d9672b 66%,#d03168 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #348cc8 0%,#50912a 33%,#d9672b 66%,#d03168 100%); /* IE10+ */
	background: linear-gradient(to right,  #348cc8 0%,#50912a 33%,#d9672b 66%,#d03168 100%); /* W3C */
	color: #ffffff;
}

.loading {
	vertical-align: middle;
}

.mejs-container {
	margin: 0.6em auto;
}

.player-panel {
	width: 100%;
	height: 50px;
	background: white;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0;
	left: 0;
}

.form-control::-webkit-input-placeholder {
   color: #ccc;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

.form-control:-ms-input-placeholder {
   color: #ccc;
}

