/* © 2016 NauStud.io
 * @author Tw
 */
// stylelint-disable color-named, color-no-hex, selector-class-pattern, selector-max-id
// variables
$gutter: 15px;
$playbutton-h: 40px;
$playbutton-w: 6px;
$header-h: 70px;
$playlist-h: 55px;
$dot-w: 24px;
$dot-color: white;
$dot-color__active: #a9c52f;

// color pattern http://www.color-hex.com/color-palette/16458
$color-01: #fff;
$color-02: #eadbcb;
$color-03: #dfc9b2;
$color-04: #49413f;
$color-05: #060201;
$color-08: #f7eebb;
$color-06: rgba(255, 255, 255, 0.2);
$color-07: rgba(223, 201, 178, 0.4);
$color-09: rgba(211, 211, 211, 1);
$color-nau: #977857;

* {
	box-sizing: border-box;
}

// change default style for placeholder
::-webkit-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-weight: 100;
}

:-moz-placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-weight: 100;
}

::-moz-placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-weight: 100;
}

:-ms-input-placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-weight: 100;
}

html {
	background-color: white;
}

body {
	margin: 0;
	-webkit-overflow-scroll: touch;
}

form {
	margin: 0;
}

input, select {
	font-size: 14px;

	&:focus {
		border-color: $color-03;
	}
}

input[type='text']:focus {
	border-color: $color-03;
}

h5 small {
	font-size: 14px;
	font-weight: 100;
	margin-left: 7.5px;
}

.u-hide {
	display: none !important;
}

.input-control {
	position: relative;

	&__error {
		position: absolute;
		right: -$gutter;
		top: 50%;
		transform: translate(100%, -50%);
		display: none;

		p {
			margin-bottom: 0;
		}

		&::after {
			position: absolute;
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 100%;
			background-color: red;
			top: 50%;
			margin-left: - $gutter;
			transform: translate(100%, -50%);
			animation: blink-animation 1s infinite;
			opacity: 1;
		}
	}

	&._error {
		.input-control__error {
			display: block;
		}
	}

	/* fix login buttons padding */
	#login-buttons {
		line-height: 1.6;
	}
}

.container {
	min-width: 768px;
	max-width: 768px;
}

.player-panel {
	position: fixed;
	right: 0;
	bottom: 0;

	.mejs__audio {
		visibility: hidden;
	}
}

.bg-layer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}

.bg-layer__img-wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
}

.bg-layer__img-wrapper img {
	width: 100%;
}

.navbar {
	width: 100%;
	background-color: $color-08;
	padding-bottom: 0;
	position: fixed;
	top: 0;
	z-index: 300;
	background-size: cover;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	transition: all 0.5s;

	&__list {
		list-style-type: none;
		margin: 0;
	}

	&__item {
		display: inline-block;
		margin: 0;

		a {
			display: flex;
			align-items: center;
			text-decoration: none;
		}

		&--icon,
		&--tool {
			width: 20%;
			color: $color-nau;
		}

		&--input {
			width: 60%;
			// padding: 0.5 * $gutter 0;
			position: relative;
		}

		&--icon {
			float: left;
			// padding: 15px 0;
			font-size: 12px;
			line-height: 1;
			letter-spacing: 2.5px;
			font-weight: 600;

			img {
				height: 40px;
				display: block;
				mix-blend-mode: multiply;
			}
		}

		&--tool {
			float: right;
		}
	}
}

.search-box {
	$search-w: 90px;

	position: absolute;
	width: 100%;
	border-radius: 4px;
	border: 1px solid $color-06;
	// margin-top: 4px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);

	&._focus {
		background-color: rgba(255, 255, 255, 0.8);
		border-color: rgba(0, 0, 0, 0.4);
	}

	&._active {
		background-color: rgba(255, 255, 255, 0.95);
		border-color: rgba(0, 0, 0, 0.4);

		.search-box__result-wrapper {
			display: block;
		}

		.search-box__control {
			border-bottom: 1px solid gray;
		}
	}

	&__control {
		position: relative;
	}

	&__input-wrapper {
		margin-right: $search-w;
		left: 0;
	}

	&__result-wrapper {
		display: none;
	}

	&__submit {
		color: rgba(0, 0, 0, 0.5);
		background-color: $color-06;
		margin-left: -4px;
		width: $search-w;
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		text-align: center;
		border: 0;
		border-radius: 0;

		&::before {
			content: 'Search';
		}

		&:hover {
			background-color: $color-06;
			border-color: $color-04;
			color: $color-04;
		}

		&._active {
			&::before {
				content: '...';
				animation: submit-moving 0.75s linear infinite;
			}
		}
	}

	&__input {
		margin-bottom: 0;
		display: inline-block;
		border-radius: 0;
	}

	.search-box__input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border: 0;
		background-color: transparent;

		&:focus {
			border: 0;
		}
	}

	.search-box__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 0;
	}
}

.song-result {
	&__list {
		list-style-type: none;
		margin: 0;
	}

	&__item {
		padding: 0.5 * $gutter $gutter;
		margin-bottom: 0;
		border-top: 1px solid whitesmoke;

		&:first-child {
			margin-top: $gutter;
			border-top: 0;
		}

		&._active {
			background-color: $color-07;
		}
	}
}

// playbutton's animation was referenced by this pen http://codepen.io/tampham47/pen/wGoJqY
.play-button {
	position: relative;
	width: $playbutton-h;
	height: $playbutton-h;
	// margin-top: 1 * $gutter;
	margin-left: 4 * $gutter;
	cursor: pointer;

	&:hover {
		.play-button__element {
			background: $color-09;
		}
	}

	&__element {
		border-radius: $playbutton-w / 2;
		background: $color-01;
		transition: 0.5s;
		position: absolute;
	}

	&__elm-top {
		width: $playbutton-h;
		height: $playbutton-w;
		top: 0;
		left: 0;
	}

	&__elm-right {
		width: $playbutton-w;
		height: $playbutton-h;
		top: 0;
		left: $playbutton-h - $playbutton-w;
	}

	&__elm-bottom {
		width: $playbutton-h;
		height: $playbutton-w;
		top: $playbutton-h - $playbutton-w;
		left: 0;
	}

	&__elm-left {
		width: $playbutton-w;
		height: $playbutton-h;
		top: 0;
		left: 0;
	}

	&._play,
	&._pause,
	&._stop {
		transition: 1s;
	}

	&._play {
		transform: rotate(270deg);

		.play-button__elm-right {
			transform-origin: center top;
			transform: rotate(29deg) translate($playbutton-w/4, $playbutton-w/8) scaleY(1);
		}

		.play-button__elm-bottom {
			display: none;
		}

		.play-button__elm-left {
			transform-origin: center top;
			transform: rotate(-29deg) translate(-$playbutton-w/4, $playbutton-w/8) scaleY(1);
		}
	}

	&._pause {
		transform: rotate(0deg);

		.play-button__elm-top {
			opacity: 0;
		}

		.play-button__elm-right {
			transform: translateX(-$playbutton-w) scaleY(0.8);
		}

		.play-button__elm-bottom {
			opacity: 0;
		}

		.play-button__elm-left {
			transform: translateX($playbutton-w) scaleY(0.8);
		}
	}
}

// the position of fixed elements should be out of scrolling-area to remove juddering when scroll, https://remysharp.com/2012/05/24/issues-with-position-fixed-scrolling-on-ios
.scroll-content {
	margin-top: $header-h;
	padding-top: $playlist-h;
}

.playlist-nav {
	position: fixed;
	width: 100%;
	top: $header-h;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 99;

	&._focus {
		transition: top 0.5s;
		top: $header-h !important;
	}

	&__list {
		list-style-type: none;
		margin-bottom: 0;
	}

	&__item {
		display: inline-block;
		margin: 0;
		transition: all 0.5s;

		a {
			padding: $gutter;
			color: black;
			display: inline-block;
			text-decoration: none;
			transition: all 0.5s;
			opacity: 0.5;

			&:hover {
				background-color: whitesmoke;
				opacity: 1;
			}
		}

		input {
			border-color: white;
			margin-top: 0.5 * $gutter;
			margin-bottom: 0;
			text-align: right;
		}

		&:first-child {
			margin-left: -$gutter;
		}

		&--right {
			float: right;
		}

		&._active {
			position: relative;

			a {
				opacity: 1;
			}

			&::after {
				content: '_';
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				font-weight: 600;
				font-size: 22px;
				color: $color-04;
			}

			&.playlist-nav__item__right {
				&::after {
					content: none;
				}
			}
		}
	}
}

.main-content {
	padding-top: 2 * $gutter;
	padding-bottom: 2 * $gutter;
}

.playlist {
	$item-h: 40px;

	&__list {
		list-style-type: none;
	}

	&__item {
		margin-bottom: 0;
		position: relative;
		cursor: pointer;

		&__origin {
			width: $item-h;
			height: $item-h;
			left: 0;
			overflow: hidden;
			display: inline-block;
			position: absolute;

			img {
				width: 100%;
			}
		}

		&__origin::after {
			content: '';
			position: absolute;
			bottom: 1px;
			left: 1px;
			height: 100%;
			width: 100%;
			background-position: left bottom;
			background-size: auto 10px;
			background-repeat: no-repeat;
			opacity: 0.8;
		}

		&__nct::after {
			background-image: url(logo-nct.png);
		}

		&__zing::after {
			background-image: url(logo-zing.png);
		}

		&__sc::after {
			background-image: url(logo-soundcloud.png);
		}

		&__yt::after {
			background-image: url(logo-youtube.png);
		}

		&__link {
			line-height: 40px;
			margin-left: 55px;
			text-decoration: none;
			color: black;
			margin-right: 280px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: inherit;
		}

		&__tools {
			position: absolute;
			right: 0;
			top: 0;
			line-height: $item-h;

			small {
				margin-right: $gutter;
			}

			a {
				display: inline-block;
				line-height: $item-h;
				color: gray;
				text-decoration: none;
				padding-left: $gutter/2;
				padding-right: $gutter/2;

				&:hover {
					text-decoration: underline;
					color: #755f4b;
				}
			}
		}

		&__active {
			position: absolute;
			left: 0;
			top: 50%;
			margin-left: -7.5px;
			opacity: 0;
			transform: translate(-100%, -50%);
		}

		&__author {
			position: absolute;
			left: 0;
			top: 50%;
			margin-left: -7.5px - $gutter;
			opacity: 1;
			transform: translate(-100%, -50%);
		}

		&:hover {
			background-color: rgba(245, 245, 245, 0.3);
		}
	}
}

.playlist__item._selected .playlist__item__active {
	opacity: 0.5;
}

.playlist__item._playing .playlist__item__active {
	opacity: 1;
	color: brown;
	font-weight: bold;
}

.naustorm-section {
	h5 small {
		font-size: 14px;
		font-weight: 100;
		margin-left: 7.5px;
	}
}

.naustorm {
	.columns:nth-child(4n + 1) {
		margin-left: 0;
	}
}

.naustorm-elm {
	margin-top: $gutter;

	&__wrapper {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	&__cover {
		width: 100%;
		margin-bottom: 0;
		display: inherit;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: all 0.5s;
		transition: all 0.5s;

		&:hover {
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			-webkit-transform: rotate(3deg) scale(1.1, 1.1);
			transform: rotate(3deg) scale(1.1, 1.1);

			~ .naustorm-elm__listens {
				opacity: 1;
			}
		}
	}

	&__title {
		margin-bottom: 0;
		margin-top: 7.5px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow-x: hidden;
	}

	&__artist {
		margin-top: -5px;
		display: block;
		opacity: 0.7;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow-x: hidden;
	}

	&__listens {
		position: absolute;
		left: 15px;
		bottom: 15px;
		-webkit-transform: translateY(25%);
		transform: translateY(25%);
		color: white;
		z-index: 20;
		font-weight: 100;
		font-size: 16px;
		opacity: 0.4;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.group-author {
	margin-top: 60px;
}

.g-author {
	$status-default-color: #f6b61e;
	$status-active-color: #347a2a;

	&__list {
		list-style-type: none;
	}

	&__item {
		margin-right: 30px;
		margin-left: $gutter;
		position: relative;

		&::after,
		&::before {
			position: absolute;
			left: -$gutter;
			width: 7.5px;
			height: 7.5px;
			content: '';
			display: block;
			border-radius: 100%;
			background-color: $status-default-color;
			top: 50%;
			transform: translateY(-50%);
		}

		&._active {
			&::after {
				background-color: $status-active-color;
			}
		}

		&._admin {
			&::before {
				background-color: pink;
				left: -$gutter - 2px;
				width: 0.5 * $gutter;
				height: 0.5 * $gutter;
				transform: translate(0, -50%);
				border: 2px solid lighten($status-active-color, 17%);
			}
		}
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__image {
		width: 50px;
		vertical-align: middle;
	}

	&__storm,
	&__ncoin {
		padding: 2px 0.5 * $gutter;
		background-color: whitesmoke;
		border-radius: 2px;
		margin-left: 0.5 * $gutter;
	}

	&__ncoin {
		background-color: #a8896c;
		color: white;

		&::before {
			content: '₦';
			margin-right: 4px;
		}
	}
}

.loader {
	position: absolute;
	top: 50%;
	left: 0;
	margin-left: 15px;
	transform: translate3d(50%, -50%, 0);
}

.dot {
	width: $dot-w;
	height: $dot-w;
	background: $dot-color;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	opacity: 0.3;
	transition: all 0.3s;

	&::after {
		color: $dot-color;
		content: 'host';
		position: absolute;
		left: $dot-w + $gutter;
		top: 50%;
		transform: translate(-100%, -50%);
		opacity: 0;
		transition: all 0.3s;
	}

	&:hover {
		opacity: 1;

		&::after {
			opacity: 1;
			transform: translate(0, -50%);
		}
	}
}

.loader._active {
	.dot {
		opacity: 1;
		animation: slide 1s infinite;
		background: $dot-color__active;

		&:hover {
			&::after {
				content: 'guest';
				color: $dot-color__active;
			}
		}
	}
}


/**
 * Naucoin css
 */
.input-coin {
	position: relative;

	input {
		margin-bottom: 0;
	}

	&::after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(-100%, -50%);
		content: '₦';
		color: black;
		opacity: 0.5;
	}
}

.naucoin-section {
	h5 small {
		float: right;
		margin-right: $gutter;
		margin-top: 15px;
	}
}

.payment-block {
	margin-top: $gutter;
	margin-bottom: $gutter;

	label {
		font-weight: 100;
		text-transform: uppercase;
		font-size: 11px;
	}
}

// $btn-color: #A75265;
$btn-color: #c08e52;
$btn-color-active: #a65e09;

button.button-naucoin {
	background-color: $btn-color;
	border-color: $btn-color;
	color: white;

	&:hover {
		background-color: $btn-color-active;
		border-color: $btn-color-active;
		color: white;
	}
}

@keyframes slide {
	0% {
		transform: scale(1);
	}

	80% {
		opacity: 0.7;
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes moving {
	20% {
		transform: translateX(-35%);
		letter-spacing: 2px;
	}

	80% {
		transform: translateX(-65%);
	}
}

@keyframes submit-moving {
	20% {
		letter-spacing: 2px;
		margin-left: -4px;
	}

	80% {
		transform: translateX(-65%);
		margin-left: 4px;
	}
}

@keyframes blink-animation {
	80% {
		opacity: 0;
	}
}


//lyric modal

.lyric-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 300;
	display: none;

	&.active {
		display: block;
	}

	.lyric-modal-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 50vw;
		height: 60vh;
		min-height: 540px;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-radius: 10px;
	}

	.lyric-modal-close {
		position: absolute;
		font-size: 30px;
		right: 20px;
		top: 5px;
		cursor: pointer;
	}

	.lyric-modal-header {
		display: block;
		margin-top: 10px;
		text-align: center;
		padding-right: 20px;
	}

	.lyric-modal-content {
		text-align: center;
		padding: 0 20px;
		overflow-y: scroll;
		height: 85%;
	}
}

// new css will be seperated
@import '_buttons';
