.navbar {
	width: 100%;
	background-image: url("https://static.vecteezy.com/system/resources/previews/000/113/010/non_2x/multicolor-geometric-low-poly-vector-background.jpg");
	padding-bottom: 0;
	position: fixed;
	top: 0;
	z-index: 300;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.navbar__list {
	display: flex;
	/* padding-top: 15px; */
}

@media screen and (max-width: 480px) {
	.navbar__list {
		flex-flow: wrap;
		justify-content: center;
	}
}

.navbar__item--input {
	margin-left: 64px;
	margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
	.navbar__item--input {
		margin-left: 0;
		width: 100%;
	}
}

.navbar__img {
	height: 40px;
}

@media screen and (max-width: 480px) {
	.navbar {
		height: 180px;
	}
}

.search-box {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 480px) {
	.search-box {
		margin: 10px 0 7px;
	}
}

.search-box--focus {
	background-color: rgba(255, 255, 255, 0.8);
	border-color: rgba(0, 0, 0, 0.4);
}

.search-box__wrap {
	display: flex;
}

.search-box__input[type='text'],
.search-box__submit {
	border: 1px;
	border-color: transparent;
	margin-bottom: 0;
	background-color: transparent;
}

.search-box__input[type='text']:focus,
.search-box__submit:focus {
	border: 0;
}

.search-box__input {
	margin-right: 90px;
	width: 100%;
}

.search-box__submit {
	width: 90px;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
}

.search-box__submit:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #49413f;
}

.play-button {
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 60px;
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.play-button {
		margin-left: 0;
	}
}

.play-button:hover .play-button__item {
	background-color: #d3d3d3;
}

.play-button--play,
.play-button--pause {
	transition: 1s;
}

.play-button__item {
	border-radius: 3px;
	background: #fff;
	position: absolute;
	transition: all 0.3s;
}

.play-button__top {
	width: 40px;
	height: 6px;
	top: 0;
	left: 0;
}

.play-button__right {
	width: 6px;
	height: 40px;
	top: 0;
	left: 34px;
}

.play-button__bottom {
	width: 40px;
	height: 6px;
	top: 34px;
	left: 0;
}

.play-button__left {
	width: 6px;
	height: 40px;
	top: 0;
	left: 0;
}

.play-button--play {
	transform: rotate(-90deg);
}

.play-button--play .play-button__right {
	transform-origin: center top;
	transform: rotate(29deg) translate(1.5px, 0.75px) scaleY(1);
}

.play-button--play .play-button__bottom {
	display: none;
}

.play-button--play .play-button__left {
	transform-origin: center top;
	transform: rotate(-29deg) translate(-1.5px, 0.75px) scaleY(1);
}

.play-button--pause {
	transform: rotate(180deg);
}

.play-button--pause .play-button__top,
.play-button--pause .play-button__bottom {
	opacity: 0;
}

.play-button--pause .play-button__right {
	transform: translateX(-6px) scaleY(0.8);
}

.play-button--pause .play-button__left {
	transform: translateX(6px) scaleY(0.8);
}